

.background {
    width: 900px;
    height: 900px;
    padding: 50px;
    background-color: rgb(110, 120, 119);
}

.modal {
    padding: 50px;
    width: 700px;
        height: 800px;
        background-color: gainsboro;
        border-radius: 20px;
}

.form {
    margin: 0 auto;

}

.text {
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #323232;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

.inputs {
    display: block;
    align-items: center;
    justify-content: center;
}

.field {

    width: 620px;
    height: 35px;
    margin-bottom: 50px;
    border: 1px solid #232323;
    border-radius: 6px;
    display: block;
    justify-content: center;
   
}

.comment {
    width: 620px;
    height: 150px;
    border: 1px solid #232323;
    border-radius: 6px;
}
